<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Pet">
    <insert id="insertPet">
        insert into PETDATA (title, writer, content)
        values
        (#{title} , #{writer} , #{content})
    </insert>
    <update id="updatePet">
        update BOARD
        set title=#{title}, content=#{content}, writer=#{writer}
        where seq=#{seq}
    </update>
    <delete id="deleteBoard">
        delete from PETDATA where seq=#{id}
    </delete>
    <select id="getPet" resultType="pet">
        select * from PETDATA where sql=#{id}
    </select>
    <select id="getPetList" resultType="pet">
        select * from PETDATA order by seq desc
    </select>
</mapper>
